﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TransientScopedSingleton</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TransientScopedSingleton</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="text-center">
        <h2 class="display-4">
            Dependency Injection Lifetime
        </h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Service Type</th>
                <th>First Instance Operation ID</th>
                <th>Second Instance Operation ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style ="background-color: darksalmon">
                    Transient
                    </td>
                    <td style ="background-color: darksalmon">
                        @ViewBag.transient1
                    </td>
                    <td style ="background-color: darksalmon">
                        @ViewBag.transient2
                    </td>
    </tr>
    <tr>
        <td>Scoped</td>
        <td>@ViewBag.scoped1</td>
        <td>@ViewBag.scoped2</td>
    </tr>
    <tr>
        <td style ="background-color: aquamarine">
            Singleton
            </td>
            <td style ="background-color: aquamarine">
                @ViewBag.singleton1
            </td>
            <td style ="background-color: aquamarine">
                @ViewBag.singleton2
            </td>
</tr>
</tbody>
</table>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - TransientScopedSingleton - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
